body {
    font-family: "Times New Roman", times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHg2MzIzNTMtaW1hZ2Uta3d2dmFsOWkuanBn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.weather-container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.weather-info {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/003/467/143/small/blue-sky-background-free-photo.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .weather-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    button {
        padding: 10px;
    }
}
